{{#each ../content }}
<li>
{{#if menu }}
    <a href="#" title="{{ name }}"><img src="../img/folder-icon.png">{{ name }}</a>
    <ul>
        {{> menu content=menu }}
    </ul>
{{else}}
    name: {{ name }}
    ../name: {{ ../name }}
    <a href="{{ ../path }}.html" title="{{ ../name }}" target="code"><img src="../img/{{ ../type }}-icon.png">{{ ../name }}</a>
{{/if}}
</li>
{{/each }}
